// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$text-field-border-radius: 0px;
$stepper-border-radius: 0px;
$stepper-header-elevation: 0;
$stepper-elevation: 0;
$stepper-step-padding: 0px;
$stepper-step-step-margin: 0px;
$stepper-header-divider-margin: 0px;
$btn-toggle-btn-opacity: 1;
